*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
}
#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 146, 158);
    border-radius: 0px;
}
.App {
    text-align: center;
    background-color:white;
    width:550px;
    height:600px;
    margin-top:5%;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}
.password-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.password-display{
    border: 2px solid black;
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}
.password-container button{
    border: none;
    width: 80px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(66, 146, 158);
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.password-container button:hover{
    background-color: rgb(100, 180, 190);
}    
.password-display input{
    border: none;
    width: 270px;
    height: 35px;
    font-size: 18px;
    margin-left: 15px;
}
.password-display button{
    border: none;
    width: 40px;
    height: 35px;
    font-size: 28px;
    cursor: pointer;
    background-color: white;
}
.length{
    width: 400px;
    display: flex;
    justify-content: start;
    margin-top: 10px;
}
input[type="range"]{
    width: 400px;
    margin-top: 10px;
    cursor: pointer;
}
.checkbox{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    cursor: pointer;
}
.checkbox input{
    cursor:pointer;
    width: 18px;
}
input[type="checkbox"]:checked{
    accent-color: rgb(66, 146, 158);
}
input[type="range"]{
    accent-color: rgb(66, 146, 158);
}

input[type="text"]:focus{
    outline: none;
}
    