*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
}
#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(66, 146, 158);
}
.App {
    text-align: center;
    background-color:white;
    width:550px;
    height:600px;
    margin-top:5%;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}
.password-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.password-display{
    border: 2px solid black;
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}
.password-container button{
    border: none;
    width: 80px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.password-display input{
    border: none;
    width: 280px;
    height: 35px;
    font-size: 16px;
}
.password-display button{
    border: none;
    width: 40px;
    height: 35px;
    font-size: 28px;
    cursor: pointer;
    background-color: white;
}
.checkbox{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}